.fb {
  &-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  &-start {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: flex-end;
  }
  &-between {
    justify-content: space-between;
  }
  &-top {
    align-items: flex-start;
  }
}
